@page
@model KoiPondConstruction.RazorWebApp.Pages.Desgin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblDesign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.UpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.UpdatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.File)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.File)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.ApprovedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.ApprovedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.ApprovedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.ApprovedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.ContentText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.ContentText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.RequestDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.RequestDetailId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblDesign.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
