@page
@model KoiPondConstruction.RazorWebApp.Pages.Desgin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblDesign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.UpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.UpdatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.File)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.File)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.ApprovedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.ApprovedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.ApprovedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.ApprovedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.ContentText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.ContentText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblDesign.RequestDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblDesign.RequestDetailId)

        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblDesign.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
