@page
@model KoiPondConstruction.RazorWebApp.Pages.Desgin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Desgin</h1>
<form method="get">
    <input type="text" name="SearchValue" value="@Model.SearchValue" placeholder="Search by CreateBy, ApprovedBy, Status..."
           style="width: 50%; padding: 6px; font-size: 16px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 4px;" />
    <button type="submit" style="padding: 6px 10px; font-size: 16px; background-color: #007bff; color: white; border: none; border-radius: 4px;">
        Search
    </button>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].UpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].File)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].ApprovedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].ContentText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblDesign[0].RequestDetail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblDesign) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                    @(item.RequestDetail.HomeownerFirstName + " " + item.RequestDetail.HomeownerLastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
